/* ******** */
/* *FOOTER* */
/* ******** */


footer{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 100%;
    

    background-color: var(--grey);
}

.container__content{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: left;

    margin: 20px;
}

.footer__image{
    transform : scale(0.5);

    height: 60px;

}


.footer__info{
    display: flex;
    flex-direction: column;

    row-gap: 10px;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;

        column-gap: 40px;
    }
}

.footer__text{
    margin: 0px;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.footer__icon{
    color: #FFF;
    width: 11px;
}

.complexe-line{
    display: flex;
    flex-direction: row;

    column-gap: 15px;
}