

// 1 - carte de plat 
.card-plate{
    @include flex;
    justify-content: space-between;

    column-gap: 10px;
    border-radius: 15px;

    background-color: rgb(50, 87, 235);
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);

    overflow: hidden;

    animation: plate-entering 1200ms both ease-in-out;

    // 2 - element d'animation plat
    @for $i from 1 through 9{
        &--#{$i}{
            animation-delay: $i*400ms - 400ms;

        }
    }

    // 3-plat
    .plate{
        @include flex(column);
        justify-content: flex-start;

        row-gap: 10px;
        overflow: hidden;

        padding:12px;
        white-space: nowrap;
        text-overflow: ellipsis;

        background-color: orange;

        cursor: pointer;
    
            &__title{
                font-size: 18px;
                font-weight: 500;
                font-style: 'Roboto';
                margin: 0px;

                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                
           
            }
    
            &__description{
                font-size: 15px;
                font-weight: 300;
                font-style: 'Roboto';
                margin: 0px;

                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
               
            }
        
    }
    
    &:hover{

        &> .zone{
            //transform: translateX(0px);
            animation: check-appearing 450ms backwards ease-in-out;
            
            &> .zone-check >.check{
                transform: translateX(0%);
            }
        }
    }

    .zone{
        @include flex;

        align-items: flex-end;

        //transform: translateX(80px);
   
        column-gap: 15px;

        //transform-origin: right;
        //transition : transform 450ms ease-in-out;

        background-color: rgb(23, 250, 197);

        .zone-price{
            font-size: 15px;
            font-weight: 700;
            margin-bottom: 12px;
        }

        .zone-check{
            @include flex(column);
            justify-content: center;
            
            align-items: center;
    
            background-color: var(--green);
    
            width:80px;
            height: 100%;

            .check{
                @include flex(column);

                transform: translateX(250%);
                transition : transform 450ms 150ms ease-in-out;
    
                overflow: hidden;
    
                .check__img{
                    height: 20px;
                    width: 20px; 
                    overflow: hidden;
                }
            }
        }
    }
}



