

.card-plateX{

    animation: plate-entering 1200ms both ease-in-out;

    @for $i from 1 through 10 {
        &--#{$i}{
            animation-delay: calc($i*400ms - 400ms);
        }
    }
    
    input{
        position: absolute;
        visibility: hidden;

        &:checked + label .plate__checked{
            
            width: 80px;

            @include media-tablet{
                width: 100px;
            }

            @include media-desktop{
                width: 120px;
            }

            .checked-icon{
                height: 20px;
                width: 20px;
                margin: 25px;

                @include media-desktop{
                    height: 25px;
                    width: 25px;
                }
            }
        }
    }

    // ~~~  PLATE  ~~~

    .plateX{
        position: relative;
    
        @include flex;
    
        justify-content: space-between;
    
        background-color : #FFFFFF;
        
        max-width: 100%;
    
        border-radius: 12px;
        @include plate-shadow;
    
        overflow: hidden;
    
        // 1 INFOS
        .plate__infos{
            @include flex(column);
            
            width:100%;
            padding: 15px 0px 15px 15px;
            row-gap: 10px;
    
            white-space: nowrap;
            overflow: hidden; //pour ne pas pousser les blocs suivants hors du bloc
    
            .plate__title{
                //max-width: 100%;

                font-size: 18px;
                font-weight: 500;
            
    
                overflow: hidden;
                text-overflow: ellipsis;
            }
    
            .plate__description{
                //max-width: 100%;

                font-size: 15px;
                font-weight: 300;
    
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    
        // 2 PRICE
        .plate__price{
            
            @include flex(column);
            justify-content: flex-end;

            align-items: flex-start;
    
            width: 50px;
            padding: 12px;
    
            font-size: 15px;
            font-weight: 700;
        }
    
        // 3 CHECK
        .plate__checked{
            @include flex(column);
            justify-content: center;
            align-items: center;

            width: 0px;
            transition: width 800ms;
            transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

            background-color: $green;
         

            .checked-icon{
                height: 0px;
                width: 0px;
                margin: 0px;

                transition: width 800ms 0ms, height 800ms, margin 800ms 0ms;
                transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
                transform-origin: left;
            }
        }
    }
}

