
.card-plate{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    column-gap: 10px;

    border-radius: 15px;

    background-color: white;

    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);

    overflow: hidden;

    animation: plate-entering 1200ms both ease-in-out;

    @for $i from 1 through 9{
        &--#{$i}{
            animation-delay: $i*400ms - 400ms;
        }
    }

    .plate{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        row-gap: 10px;
        //max-width: 60%;
        overflow: hidden;

        padding:12px;
        white-space: nowrap;
        text-overflow: ellipsis;

    
            &__title{
                font-size: 18px;
                font-weight: 500;
                font-style: 'Roboto';
                margin: 0px;

                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                
           
            }
    
            &__description{
                font-size: 15px;
                font-weight: 300;
                font-style: 'Roboto';
                margin: 0px;

                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
               
            }
        
    }
    
    &:hover{

        &> .zone{
            transform: translateX(0px);

            &> .zone-check >.check{
                transform: translateX(0%);
            }
        }
    }

    .zone{
        display: flex;
        flex-direction: row;

        align-items: flex-end;

        //width: 30%;

        transform: translateX(80px);
        column-gap: 15px;

        transform-origin: right;
        transition : transform 450ms ease-in-out;

        .zone-price{
            font-size: 15px;
            font-weight: 700;
            margin-bottom: 12px;
        }

        .zone-check{
            display: flex;
            justify-content: center;
            
            align-items: center;
    
            background-color: var(--green);
    
            width:80px;
            height: 100%;

            .check{
                display: flex;
                justify-content: center;
    
    
                transform: translateX(250%);
                transition : transform 450ms 150ms ease-in-out;
    
                overflow: hidden;
    
                .check__img{
                    height: 20px;
                    width: 20px; 
                    overflow: hidden;
                }
            }
        }
    }
}


@keyframes plate-entering {
    0%{
        transform: translateX(-200%);
    }
    40%{
        transform: translateX(-15%);
        animation-timing-function: cubic-bezier(0,.73,.42,.43);
    }
    100%{
        transform: translateX(0%);
        animation-timing-function: cubic-bezier(.43,.42,.26,1);
    }
}
