
h1{
    font-weight: 700;
    font-size: 24px;
    color: #000000;
}

.text300{
    font-weight: 300;
    font-size: 18px;

    color: var(--grey);

    text-align:center;

    &--17px{
        font-weight: 300;
        font-size: 17px;
        color: var(--grey);
        margin: 0px;
    }
}

.text500{
    font-weight: 500;
    font-size: 16px;
    color: var(--grey);
    text-align: center;
}

.text700{
    font-weight: 700;
    font-size: 18px;
    color: var(--grey);
    text-align: center;

    margin: 0px;
}